!!! 5
html
  head
    title=title
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/jquery-1.7.2.js", type="text/javascript")

  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
      
    section#wrapper!= body
    footer 
        