!!! 5
html
  head
    title= title
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
      
    section#wrapper!= body
    footer 
        