h1 Account Settings
form#generatekey(method="post")
    label(for="publicKey") Public Key
        input(type="textbox", name="publicKey")
    input(type="submit", value="Generate Key", name="generatePublicKey")